*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.container{
    width: 100vw;
    height: 100vh;
    background: #252526;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 800px;
    height: 100vh;
}
.display{
    width: 100%;
    height: 85%;
    /* background-color: red; */
    padding-top: 50px;
}
.content{
    width: 100%;
    /* background: #009578; */
}
form{
    width: 100%;

}
.file_up{
    display: none;
}
.inputBox{
    position: relative;
}
.textinput{
    background: #37373d;
    width: 100%;
    height: 60px;
    font-size: 20px;
    border-radius: 12px;
    color:#e0e0e0;
    outline: none;
    border: none;
    position: absolute;
    padding: 0px 60px 0px 60px;
    z-index: 1;
}
::placeholder{
    color: #e0e0e0d6;
    font-size: 18px;
}
/* button{
    background: #009578;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    right: 0px;
    width: 100px;
    height: 60px;
    border-radius: 12px;
    border: none;
    outline: none;
    display: none;
    z-index: 100;
} */
.send{
    color: #009675;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 110;
}
.file{
    color: #009675;
    font-size: 35px;
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: 110;
    font-weight: 100;
    cursor: pointer;
}
.card{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    background: #37373d;
    padding: 30px;
    border-radius: 10px;
    color: #009675;
}
.card p span{
    font-weight: 600;
    color: #009675;
}
.card p{
    padding-bottom: 20px;
    color: #e0e0e0;
}
.card::-webkit-scrollbar {
    width: 12px;
}

.card::-webkit-scrollbar-track {
    background: #37373d;
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
    background: #009675;
    border-radius: 6px;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #008675;
}