<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">
     <!-- <link rel="stylesheet" href="/static/css/index.css"> -->
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="content">
                <h1 class="hero">
                    Fake News Delection
                </h1>
                <a href="\main" class="gets">Get started</a>
            </div>
        </div>
    </div>
</body>
</html>